
.tooltip {
    position: relative;
    display: inline-block;
    background-color: #efe4ff;
    overflow: visible; 
    padding: 0px 0.25rem;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 24rem;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 0;
    color: white;
    background: #252525;
    text-align: left;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
